.transactional-arrow {
    color: #9f8865;
    font-size: 25px;
}

.transaction-info-row-container-top {
    margin: 7px 1px 7px 1px;
    padding: 5px 1px 5px 1px;
}

.transaction-info-row-container{
    margin: 7px 1px 7px 1px;
    padding: 5px 1px 5px 1px;
    border-top: 1px solid #dcdcdc;
}
