.search-well {
  padding-top: 11px;
  padding-bottom: 45px;
  font-size: 16px;
  color: #555;
}


.enquiry {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 0px 0px rgba(170, 170, 170, 1);
  -webkit-user-select: none;
}


.btn-enquiry {
  color: #fff;
  background-color: #9f8865;
  border-color: #9f8865;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  float:right;
}

.enquiry-text {
  margin-left: -10px;
  margin-top: 10px;
}
