<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- CouchBase DB Key Start -->
    <add key="CouchbasePassword" value="123456" />
    <add key="CouchbaseUser" value="Administrator" />
    <!-- CouchBase DB Buckets End -->
    <!-- CouchBase DB Buckets Start -->
      <add key="CouchbaseCRMBucket" value="APTCCRM" />
      <add key="CouchbaseAPTCREFBucket" value="APTCREF" />
      <add key="CouchbaseAPTCLOGINBucket" value="FREEUSM" />
      <add key="CouchbaseAuditLogBucket" value="AuditLog" />
    <!-- CouchBase DB Buckets End -->
    <add key="CouchbaseServer" value="http://127.0.0.1:8091/" />
    <add key="CouchbaseServer_CTServer" value="http://192.168.0.111:8091/" />
    <add key="JWTTokenSecret" value="UNSECURE_SECRET_TOKEN" />
    <add key="BaseFilePath" value="http://localhost:63391/" />
    <add key="AverageFlightSpeed" value="800" />
    <add key="FilePath" value="~/Uploaded" />
    <add key="TempFilePath" value="~/TempFile" />
    <add key="userid" value="admin" />
    <add key="password" value="admin@123" />
    <add key="SmsApiBaseUrl" value="https://www.smsglobal.com/" />
    <add key="SmsApiUserId" value="ajmant" />
    <add key="SmsApiPassword" value="5ud9gjgd" />
    <add key="SmsFrom" value="AJtransport" />
    <add key="SmsMaxsplit" value="1" />
    <add key="SmsMessage" value="Your OTP otpnum. Please use it within 15 minute(s)" />
    <add key="LogFileandDB" value="2" />
    <add key="LogFileUrl" value="http://localhost:63391/APILog/" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="SMTPUserId" value="akjs005" />
    <add key="SMTPPassword" value="aniketjaiswal2008" />
    <add key="From" value="admin@aptc.com" />
    <add key="SMTPPORT" value="587" />
    <add key="GETAPIKEY" value="G123456" />
    <add key="POSTAPIKEY" value="P12345678" />
    <add key="CTDriverUpdateURL" value="https://apicartaxi.cartrack.co.za/add_update_driver"/>
    <add key="CTVehicleUpdateURL" value="https://apicartaxi.cartrack.co.za/add_update_vehicle"/>
    <add key="CTAPIUserId" value="CART00005"/>
    <add key="CTAPIPassword" value="WV8Wt67fQt7qsYdbJxRxyf5nHcWp8tAdPHBJOIyoC6f4eJfx"/>
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase.NetClient" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.10.0" newVersion="2.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
</configuration>
