.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #1C9FD5;
}

.st2 {
    fill: #61360E;
}

.st3 {
    fill: #E51F1F;
}

.st4 {
    fill: #652D92;
}

.st5 {
    fill: #E55F36;
}

.st6 {
    fill: #171048;
}

.st7 {
    fill: #939498;
}

.st8 {
    fill: #39B54A;
}

.st9 {
    fill: #8CC63F;
}

.st10 {
    fill: #D9E021;
}

.st11 {
    fill: #F7931E;
}

.st12 {
    fill: #C1272D;
}

.st13 {
    fill: #EE3E36;
}

.st14 {
    fill: #515689;
}

.st15 {
    fill: #9D1322;
}

.st16 {
    fill: #ED008A;
}

.st17 {
    fill: #9B1E60;
}

.st18 {
    fill: #D2E6BA;
}
